.form {
  background-color: var(--lighter-gray);
  max-width: 30rem;
  padding: calc(1rem + 2vw);
  margin-top: 5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .inputGroup {
  display: flex;
}

.form .inputGroup {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  overflow: hidden;
}

.form .forgotInputGroup {
  flex-direction: column;
  border: none;
}

.form .inputGroup label {
  background-color: var(--main-color);
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1rem + 0.5vw);
}

.form .forgotInputGroup label {
  width: auto;
  height: auto;
  background-color: transparent;
  font-size: 1rem;
  color: var(--dark-gray);
  margin-bottom: 1rem;
}

.form .inputGroup input {
  flex-grow: 1;
  padding-left: 0.5rem;
  background-color: #fff;
}

.form .forgotInputGroup input {
  padding: calc(1rem + 0.25vw);
}
