.productImg {
  max-height: 300px;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
}

.productImg img {
  transform: scale(1.2);
}

.product > a {
  border-radius: 5px;
  display: block;
  transition: 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #ececec;
  background-color: #fff;
  overflow: hidden;
}

.product > a:hover,
.product > a:focus {
  box-shadow: 0 0 0 1px var(--main-color), 0 0 30px rgba(0, 80, 13, 0.2);
}

.product .buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.product .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.5rem;
}

.product .buttons > * {
  font-size: 1.25rem;
  opacity: 0;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.product .buttons > * {
  transform: translateX(-30%);
}

.product .buttons button {
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.product .buttons .addToCart button {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: #fff;
}

.product .buttons .addToWish button {
  background-color: #fff;
  color: var(--red);
  border: 1px solid var(--red);
}

.product .buttons .addedToWish button {
  background-color: var(--red);
  color: #fff;
}

.product a:hover .buttons > * {
  opacity: 1;
  transform: translateX(0);
}

.product .buttons .addToCart small {
  color: #fff;
  background-color: var(--main-color);
}

.product .buttons .addToWish small {
  background-color: var(--red);
  color: #fff;
}

.product .buttons .addedToWish small {
  color: var(--red);
  background-color: #fff;
}

.product .buttons small {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  border-radius: 5px;
  max-width: 0.75rem;
  overflow: hidden;
  padding: 0;
  transition: 0.3s;
  font-size: calc(0.8rem + 0.1vw);
}

.product .buttons > *:hover small {
  max-width: 185px;
  padding: 0.5rem;
  padding-inline: 0.75rem;
  padding-left: 45px;
}

.product .buttons > *:first-child:hover small {
  border: 1px solid var(--main-color);
}

.product .buttons > *:last-child:hover small {
  border: 1px solid var(--red);
}

@media (max-width: 991px) {
  .product .buttons > * {
    transform: translateX(0);
    opacity: 1;
  }

  .product .buttons > * small {
    display: none;
  }
}

.text {
  padding: 0.75rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.footer svg {
  color: var(--gold);
}

.text .footer {
  margin-top: auto;
}

.text small {
  line-height: 1;
  margin-bottom: 0.5rem;
}

.productSlider {
  border: 1px solid #ececec;
  border-radius: 10px;
  padding-bottom: 2rem;
  height: 100%;
}

.productSlider :global(.swiper-slide) {
  max-height: 400px;
}

.productSlider :global(.swiper-slide) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.productSlider :global(.swiper-pagination) {
  bottom: 0;
  min-height: 2.5rem;
  background-color: rgba(126, 126, 126, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.productSlider :global(.swiper-pagination-bullet) {
  transition: 0.3s;
}
.productSlider :global(.swiper-pagination-bullet-active) {
  background-color: var(--main-color) !important;
  width: 10px;
  height: 10px;
}
